
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    background-color: rgb(214, 228, 241);
}

header {
    color: black;
}

footer{height: 240px;
    width: 100%;
    background-color: #688eca;
    color: white;
    margin-top: 300px;
}

.nav-item {
    color: black;
}
    
li .butt:hover{background-color: rgba(41, 106, 128, 0.664);
    color: white;}
    
li .butt{font-size: larger;
    color: black;}

    #logo {
        width: 80px;
        height: 60px;
    }
    
    
    
    .logodiv {
        width: 30px;
    }

footer {
    margin-top: -350px;
    height: 300px;
}

#one {
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(113, 75, 253);
    color: white;
    font-family: 'Nerko One', cursive;
    box-shadow: black 5px 5px 10px;

}

#causas,
#tratamento {
    margin-top: 20px;
}

p {
    font-size: 18px;
}

#curiosidades {
    font-family: 'Nerko One', cursive;
    color: black;
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}

.card {
    background-color: rgb(113, 75, 253);
    color: white;
    font-family: 'Nerko One', cursive;
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
    border: black solid 3px;
}

.btn {
    padding: 15px 45px;
    background-color: rgba(28, 16, 71, 0.884);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-family: 'Nerko One', cursive;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    box-shadow: black 5px 5px 10px;
    width: 180px;
}

.btn:hover {
    padding: 15px 45px;
    background-color: rgba(15, 8, 41, 0.884);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-family: 'Nerko One', cursive;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    box-shadow: black 5px 5px 10px;
    transform: scale(1.03);
}

.bt1 {
    margin-top: 45px;
}

.bt2 {
    margin-top: 70px;
}